<% include partials/header %>



<div class="col-sm-8 col-md-9">
   <div class="col-md-12 page-body">

      <div class="row">
         <% if (errors) { %>
         <ul class="col-xs-12 margin-top-20" style="list-style: none">
            <% for(var error in errors) {%>
            <li class="alert alert-danger" role="alert">
               <strong>Error!</strong> <%= errors[error].msg %>
            </li>
            <%}%>
         </ul>
         <% } %>
         <div class="col-md-12 clearfix content-page"> 
            <!-- Input form begin -->
            <div class="form-area">
               <form role="form" method="POST"  <% if (typeOfBlog == "update") { %> action="/blogs/update" <%} else {%> action="/blogs/add" <%}%> >
                  <h2 class="panel-heading">Add Article</h2>
                  <% if (typeOfBlog == "update") { %> 
                        <input id="prodId" name="articleId" type="hidden" value="<%= article.id%>">
                  <%}%>
                  <div class="form-group col-sm-6">
                     <input type="text" class="form-control" id="name" name="author" placeholder="Author" required <% if (article) { %> value="<%= article.author%>" <%}%> >
                  </div>
                  <div class="form-group col-sm-6">
                     <input type="text" class="form-control" id="date" name="date" placeholder="Date" required <% if (article) { %> value="<%=article.date%>" <%}%>>
                  </div>
                  <div class="form-group col-sm-12">
                     <input type="text" class="form-control" id="email" name="email" placeholder="Email" required <% if (article) { %> value="<%= article.email%>" <%}%> >
                  </div>
                  <div class="form-group col-sm-12">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" required <% if (article) { %> value="<%= article.title%>" <%}%> >
                  </div>
                  <div class="form-group col-sm-12">
                     <textarea class="form-control" type="textarea" id="description" name="description" placeholder="Description..."  rows="3" required ><% if (article) { %> <%- article.description%> <%}%></textarea>
                  </div>
                  <div class="form-group col-sm-12">
                     <textarea class="form-control" type="textarea" id="article" name="article" placeholder="Write HTML code here. No <script> tag!"  rows="14" required ><% if (article) { %> <%- article.article%> <%}%></textarea>
                  </div>
                  <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
               </form>
            </div>
            <!-- input form end -->
         </div>
         

         <div class="col-md-12">
                <div class="list-group">
                        <div class="list-group-item">
                        <h5 class="mb-1">To add an image: </h5>
                        <pre><code>&#x3C;div class=&#x22;post-image&#x22;&#x3E;
        &#x3C;img src=&#x22;image_url&#x22; alt=&#x22;image title&#x22;&#x3E;
        &#x3C;p&#x3E;Image caption&#x3C;/p&#x3E;
&#x3C;/div&#x3E;</code></pre>
                        </div>

                        <!-------- -->
                        <div class="list-group-item">
                        <h5 class="mb-1">For paragraphs: </h5>
                        <pre><code>&#x3C;p class=&#x22;para&#x22;&#x3E;
        //content ....
        // use different &#x3C;p&#x3E; tags to separate paragraphs
&#x3C;/p&#x3E; </code></pre>
                        </div>
                         <!-------- -->

                        <div class="list-group-item">
                        <h5 class="mb-1">For blockqoutes: </h5>
                        <pre><code>&#x3C;div class=&#x22;post-quote&#x22;&#x3E;
        &#x3C;blockquote&#x3E;Qoute here...&#x3C;/blockquote&#x3E;
&#x3C;/div&#x3E;</code></pre>
                        </div>
                         <!-------- -->

                </div>
        </div>
      </div>
   </div>
</div>
<% include partials/footer %>